@import "tailwindcss";

@theme {
  --color-primary: #5227FF;
  --color-secondary: #7cff67;
  --color-tertiary: #B19EEF;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background-color: #ffffff;
  color: #111827;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}