@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #5227FF;
  --color-secondary: #7cff67;
  --color-tertiary: #B19EEF;
  --font-sans: "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Playfair Display", serif;
}